@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: geometricPrecision;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, #adabab4d, #e4dcdc4d), url(https://images.pexels.com/photos/92083/pexels-photo-92083.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}

.wrapper .player {
  height: 50%;
  width: 50%;
  background: #ffffff40;
  margin-left: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 #979cda5e;
          box-shadow: 0 8px 32px 0 #979cda5e;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}

.wrapper .player .img_wrapper {
  height: 70%;
  width: 100%;
}

.wrapper .player .img_wrapper img {
  height: 100%;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

.wrapper .player .header {
  padding: 5px 10px;
}

.wrapper .player .header .header_singer_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .player .header .header_singer_rating h3 {
  line-height: 30px;
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 900;
  color: #1d1d1d;
}

.wrapper .player .header .header_singer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.wrapper .player .header .header_singer_info p {
  font-size: 12px;
  font-weight: 100;
}

.wrapper .player .header .dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .player .header .dot div {
  height: 10px;
  width: 10px;
  border-radius: 40px;
  border: 1px solid #000;
  margin-left: 4px;
}

.wrapper .player .list_music {
  margin-top: 20px;
}

.wrapper .player .list_music ul {
  list-style: none;
  padding: 0px 10px;
}

.wrapper .player .list_music ul li {
  margin-top: 5px;
  font-size: 12px;
  background-color: #000;
  border-radius: 4px;
  padding: 13px 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.wrapper .player .list_music ul li:hover {
  background-color: #fff;
  color: #1d1d1d;
}

.wrapper .player .list_music ul li span i {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .player .list_music ul li span:nth-child(2) {
  max-width: 220px;
  text-align: start !important;
}

.wrapper .player .list_music ul li span:nth-child(3) {
  margin-right: 5px;
}

.wrapper .p_list {
  height: 50%;
  width: 50%;
  margin-right: 20px;
  border-radius: 10px;
  background: #ffffff40;
  -webkit-box-shadow: 0 8px 32px 0 #979cda5e;
          box-shadow: 0 8px 32px 0 #979cda5e;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
/*# sourceMappingURL=style.css.map */